.App {
  box-sizing: border-box;
  text-align: center;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  background: url("./bcg.png") no-repeat center center/cover;
  height: 100vh;
}
img {
  height: 300px;
  border-radius: 7px;
  margin: 30px;
}
h3,
h1 {
  color: #ecc5d6;
  margin-top: 0;
}
h1 {
  padding: 20px;
}
.counter {
  color: #ecc5d6;
  padding: 15px;
  margin: 20px;
}
button {
  background-color: #ecc5d6;
  padding: 10px 15px;
  border: 2px solid white;
  border-radius: 7px;
  color: #fff;
  margin: 20px;
}
button:hover {
  color: #fff;
  background-color: #ecacc8;
  transition: all 400ms ease-in-out;
  cursor: pointer;
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
